$prim-font:'Montserrat', sans-serif;
$sec-font:'Cormorant', serif;
$prim-color: #222222;
$sec-color: #1767fb;
$prim-grad: linear-gradient(135deg, #c479eb, #7648f0); 
$bg-color: #ffffff;
$line-color:rgba(114,69,240,.2);

.hero {
    .hero-wrapper {
        isolation: isolate;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        // padding-inline: 40px;
    }

    .hero-text {
        z-index: 10 !important;
        height: calc(100vh - 75px);
        display: grid;
        align-content: flex-end;
        padding-bottom: 60px;

        span {
            overflow: hidden;

            h1 {
                font-size: clamp(30px, 8vw, 80px);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.04rem;
                // text-transform: uppercase;
                transform: translateY(140px) rotate(3deg);
            }
        }
        .line {
            height: 1px;
            width: 100%;
            background-color: $sec-color;
            transform-origin: left;
            transform: scaleX(0);
        }
        .buttons{
            // transform: translateY(-20px);
            opacity: 0;
            display: flex;
            gap: 16px;
            // margin-top: 20px;
            flex-wrap: wrap;
            
            a {
                width: fit-content;
            }
        }
    }
    .img {
        height: 320px;
        min-height: 320px;
        width: 100%;
        
        background-size: cover;
        background-image: url('/images/ISC.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        margin-top: 40px;
        
    }
    .raise-funds {
        display: flex;
        column-gap: 20px;
        justify-content: flex-end;
        margin-top: 40px;
        flex-wrap: wrap;
        
        p {
            font-weight: 500;
            font-size: 14px;
            font-style: italic;
            width: 520px;
            padding-block: 20px;
            border-block: 1px solid $line-color;
        }
        a {
            padding-block: 20px;
            border-block: 1px solid $line-color;
        }
    }
}

@media screen and (max-width: 600px){
    .hero {
        // .hero-wrapper {
        //     padding-inline: 20px;
        // }
        .hero-text {
            height: 50vh;

            span h1 {
                line-height: 1.5;
            }
        }
        .img {
            scale: 1.05;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }
}
@media screen and (max-width: 837px) {
    .hero {
        .raise-funds {
            a {
                border-block: none;
                border-top: 1px solid $line-color;
            }
        }
    }
}
